@use '../global/variables' as vars;

.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: vars.$darkGrey;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    height: 70px;

    .summary {

    }

    .search {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        background-color: vars.$blue;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            font-size: 70px;
            color: white

        }
    }
}